[Unit]
Description=tirest.service
After=network.target
ConditionPathExists=/disk/ssd1/

[Service]
ExecStart=/disk/ssd1/tirest/tirest server --conf=/disk/ssd1/tirest/service.toml
WorkingDirectory=/disk/ssd1/tirest/
Restart=always
LimitCORE=infinity
LimitNOFILE=100000
LimitNPROC=infinity

[Install]
WantedBy=multi-user.target
